@import "./Sass/colors";

button, input[type="submit"]{
    justify-self: center;
    align-self: center;
    background: $color-primary-ligth;
    margin-bottom: 12px;
    padding: 6px 12px;
    border-radius: 12px;
    border: none;
    color: white;
    // border: solid 2px white;
    border-radius: 6px;
    background: #3296C8;
    box-shadow:  5px 5px 10px #2b80aa,
                -5px -5px 10px #3aade6;

    //             @keyframes pulsar{
    //                 from{
    //                     box-shadow:  5px 5px 10px #2b80aa,
    //                             -5px -5px 10px #3aade6;
    //                 }
    //                 to{
    //                     box-shadow: inset 5px 5px 5px #2b80aa,
    //                         inset -5px -5px 5px #3aade6;
                            
    //                 }
    //             }           
    // &:active{
    //     animation-name: pulsar;
    //     animation-duration: 0.2s;
    // }
    
}
